<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CAPACITOR_DEBUG</key>
	<string>$(CAPACITOR_DEBUG)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FLEOFIT</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>it.federicoleo.fleofit</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fleofit</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>FLEOFIT utilizza il Bluetooth per connettersi alla tua fascia cardio e leggere i battiti in tempo reale.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>FLEOFIT utilizza il Bluetooth per connettersi ai tuoi dispositivi.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>FLEOFIT necessita di leggere i tuoi allenamenti da Salute per sincronizzare le calorie bruciate e i battiti medi a fine workout.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>FLEOFIT necessita del permesso per aggiornare l'app Salute.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>FLEOFIT ha bisogno del microfono per permetterti di registrare e inviare note vocali.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>FLEOFIT necessita di questo permesso per salvare la grafica del tuo allenamento direttamente nella galleria fotografica.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>FLEOFIT necessita di questo permesso per salvare la grafica del tuo allenamento direttamente nella galleria fotografica.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
